.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-container {
  background: beige;
  padding: 16px;
}

.nav-list a {
  text-decoration: beige;
  color: black;
}
